/* Index Styling Page */ 

.OH-SHIT{ 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.Image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
}
.title{ 
    color: red;
    background-color: yellow;
    font-size: 50px;
    font-weight: 500;
    font-style: italic
}

.heading1 {
    color: blue;
    background-color: yellow;

}
.choose {
    color: purple;
    background-color: yellow;
    font-size: 24px;

}